Source: adaptation-droidian-cheeseburger
Maintainer: Chris Mustola
Section: metapackages
Priority: optional
Build-Depends: debhelper, 
               gcc,
               inotify-tools,
               libwayland-dev,
               libxkbcommon-dev,
               libpulse-dev,
               libpulse-mainloop-glib0,
               libnotify-dev,
               libgtk-4-dev,
               libadwaita-1-dev,
               libglib2.0-dev,
               pkgconf,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/Bettehem/adaptation-droidian-cheeseburger
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-cheeseburger.git

Package: adaptation-droidian-cheeseburger
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-cheeseburger-configs,
         linux-bootimage-oneplus-msm8998,
         droidian-quirks-full-resize,
         droidian-camera,
         inotify-tools,
         libpulse-mainloop-glib0,
Description: adapatation-cheeseburger-meta
 cheeseburger api28 adaptation metapackage

Package: adaptation-cheeseburger-configs
Architecture: arm64
Depends: ${misc:Depends},
Provides: tristate-switch, lights-on-action, menu-on-action
Conflicts: tristate-switch, lights-on-action, menu-on-action
Description: cheeseburger's adaptation configs

Package: tristate-switch
Architecture: any
Depends: ${misc:Depends},
         libpulse-mainloop-glib0,
         inotify-tools,
Conflicts: adaptation-cheeseburger-configs
Description: tristate switch service

Package: lights-on-action
Architecture: any
Depends: ${misc:Depends},
Conflicts: adaptation-cheeseburger-configs
Description: turn lights on when a key is pressed

Package: menu-on-action
Architecture: any
Depends: ${misc:Depends},
Conflicts: adaptation-cheeseburger-configs
Description: toggle the phosh drawer when a key is pressed

